<div class="icon-grp">
    <a class="icon" href="https://www.linkedin.com/in/rohit-rajbanshi/" target="_blank"><fa-icon  [icon]="faLinkedin"></fa-icon></a>
    <a class="icon" href="https://github.com/rohit2395" target="_blank"><fa-icon class="icon" [icon]="faGithubSquare"></fa-icon></a>
    <!-- <a class="icon" href="mailto:rohit.rajbanshi@outlook.com"><fa-icon class="icon" [icon]="faEnvelope"></fa-icon></a> -->
    <a class="icon" href="https://twitter.com/_rohit23" target="_blank"><fa-icon class="icon" [icon]="faTwitterSquare"></fa-icon></a>
    <a class="icon" href="https://www.facebook.com/rohit5991/" target="_blank"><fa-icon class="icon" [icon]="faFacebookSquare"></fa-icon></a>
    <a class="icon" href="https://www.instagram.com/rohit_rajbanshi/" target="_blank"><fa-icon class="icon" [icon]="faInstagramSquare"></fa-icon></a>
</div>
<div class="icon-grp">
<a class="email" href="mailto:rohit.rajbanshi@outlook.com"><fa-icon [icon]="faEnvelope"></fa-icon> me at: rohit.rajbanshi@outlook.com</a>
<a class="email" ><fa-icon [icon]="faMobile"></fa-icon> me on: +91 9637362281</a>
</div>