<div class="portfolio" [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
    <mat-card class="portfolio-card topborder-radius bottomborder-radius">

        <h1>Hello Visitor!👋,</h1>
        <div class="row">
            <p>
                I am a technology enthusiast and a passionate computer engineer who loves to learn new things and write
                quality code.
            </p>
            <p>
                Throughout my professional career, I have worked as a back-end developer for web-application based
                software. I have strong knowledge of Java programming, RESTful APIs, Databases. I also have contributed
                to front-end development occasionally with AngularJS & Angular 8. I aspire to become a full-stack
                engineer and software system architect.
            </p>
            <p>
                My objective is to work in an organization that offers a challenging work environment and always
                requires the best of effort & performance with my abilities and skills. I aspire to contribute to the
                organization to my level best for the growth of the organization and self.
            </p>
            <p>
                I also like to travel, read novels, play badminton and sometimes, play video games and build hobby
                projects like this website as I need take time out from my current job to work on my other interests.😉
            </p>
        </div>

        <mat-divider></mat-divider>

        <h1 [attr.id]="'skills'">My Skills</h1>
        <div class="row">
            <app-skills style="width: 100%;"></app-skills>
        </div>

        <mat-divider></mat-divider>

        <h1 [attr.id]="'experience'">My Software Engineer journey</h1>
        <div class="row">
            <app-experience style="width: 100%;"></app-experience>
        </div>

        <mat-divider></mat-divider>

        <!-- <h1 [attr.id]="'projects'">Some of my hobby projects</h1>
        <div class="row">
            <app-projects style="width: 100%;"></app-projects>
        </div> -->

        <mat-divider></mat-divider>
        <mat-divider style="height: 2%;"></mat-divider>

        <!-- <h1 ></h1> -->
        <div [attr.id]="'contact'" class="row">
            <app-contact style="width: 100%;height: 100%;"></app-contact>
        </div>
    </mat-card>
</div>