
.blog{
    // background-color:rgba(248, 247, 216, 0.274);
    
    margin-top: 1%;
}
.blog-card{
    // padding: 4%;
    // padding-top: 2%;
    background-color:rgba(248, 247, 216, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    // border: black 1px solid;
}

h1{
    
    padding-top: 2%;
    font-family: 'Consolas', 'arial', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
    color: black;
}

.row{
    // height: 400px;
    font-size: large;
    font-family: 'Consolas', 'arial', sans-serif;
    font-weight: bold;
    background-color:rgba(248, 247, 216, 0.8);
    color: black;
    margin-bottom: 2%;
    padding:2%;
    text-align: justify;
    text-justify: inter-word;
}