

<div fxFlex="row" fxLayoutAlign="left center" fxLayoutGap="10px" class="header">
    <button class="menu" mat-icon-button (click)="sidenav.toggle();">
<!--  fxShow fxHide.gt-xs -->
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      
    </button>
    <span class="spacer"></span><span class="spacer"></span><span class="spacer"></span>
    <div class="title">Rohit Rajbanshi</div>
    <div class="subtitle">[ Full-stack Developer ]</div>
    <!-- <span class="spacer"></span> -->
</div>
<!-- <div style="margin-top: 10px;width:13%;margin-right: 10px;" > -->
    <div>
        <a class="blog-link" mat-raised-button href="/blogs" target="_blank" >
            Check out my personal blog <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
<!-- </div> -->

 
