<app-header [sidenav]="leftSidenav"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="side-menu" #leftSidenav mode="side" opened [fixedInViewport]="true">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
    <mat-sidenav-content class="main_content">
      <main [@fadeAnimation]="prepareRoute(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
      <!-- <router-outlet></router-outlet> -->
    <!-- <app-portfolio [sidenav]="leftSidenav"></app-portfolio> -->
</mat-sidenav-container>