
  p {
    font-family: Lato;
  }

  .sidenav-container{
    background:transparent;
  }

  .main_content {
    overflow: hidden;
    // margin-left: 10%;
    // margin-right: 10%;
    // margin-left: 5%;
    // margin-right: 5%; 
    // width: 90%;
    
    background:transparent;
    // border: black 1px solid;
  }


  .side-menu{
    background: transparent;
  }
