.sidenav_container {
    // min-width: 60px; 
    height: 100%;
    background-color:rgba(248, 247, 216, 0.274);
    // overflow: hidden;
  }
  
  .rohit {
    width: 350px;
    height:400px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
.spacer{
    height: 7%;
}

.spacer-h{
    width: 5px;
}

.menu-item{
  font-family: 'BebasNeue-Regular', 'arial', sans-serif;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 3px;
  color: black;
  transition: 400ms;
}
.menu-item:hover{
  background-color: #F9F1DF;
  padding-left: 10%;
}

.active-list-item {
  transform: 400ms !important;
  background-color: #F9F1DF !important;
  // padding-left: 10%  !important;
}