.sidenav_container {
    // min-width: 60px; 
    height: 100%;
    background-color:rgba(248, 247, 216, 0.274)
  }
  
  .rohit {
    width: 350px;
    height:400px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
.spacer{
    height: 7%;
}

.spacer-h{
    width: 5px;
}