.feedback{
    // background-color:rgba(248, 247, 216, 0.274);
    margin-top: 1%;
}
.feedback-card{
    padding: 4%;
    padding-top: 3%;
    background-color:rgba(248, 247, 216, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    // border: black 1px solid;
}