<div class="main-timeline9">
    <div class="timeline" *ngFor="let e of experience">
        <div class="timeline-content">
            <!-- <div class="circle"><span><i class="fa fa-rocket"></i></span></div> -->
            <div class="content">
                <span class="year">{{e.yearAndCompony}}</span>
                <h4 class="title">{{e.title}}</h4>
                <ul>
                    <div class=description *ngFor="let des of e.description">
                        <!-- <pre> -->
                                <li>{{des}}</li>
                                
                                <!-- </pre> -->
                    </div>
                </ul>
                
                <div class="icon"></div>
            </div>
        </div>
    </div>
   
</div>